/* ---------- GENERALES ---------- */

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

select {
    background-color: transparent !important;
    padding-left: 10px !important;
}

a {
    color: blue !important;
}

.custom-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}

.custom-text {
    font-size: 6rem;
}

.custom-button {
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
}

.input {
    width: 150px;
    height: 50px;
}


.w3-card {
    margin-left: auto;
    margin-right: auto;
}

#cabeceratabla label {
    width: 150px !important;
    display: inline-block;
}

#manualBtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* Reglas solo para impresión */
@media print {
    .no-imprimir {
        display: none !important;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

#tipoValvula label {
    height: 35px;
    width: 150px !important;
    display: inline-block;
}